.topNavyblueDiv{
  min-height: 80px!important;
  color: #ececec!important;
}

.menuBtnContainer{
	width: 100%;
	height: 35px;
	background-color: #000000;
	display: none;
}

.menu{
  color: #fff;
	float: right;
	margin-top: 5px;
	margin-right: 15px;
	display: block;
	background-color: #212f3c;
	z-index: 5;
  border: none;
  outline:none;
}

.menu:focus{
  outline:none;
}

.topNavLinks{
  color:white!important;
  display: inline-block;
  margin-right: 15px !important;
  margin-top: 10px !important;
  margin-left: 15px !important;
  padding-top: 15px !important;
  text-decoration: none;
}

.topNavLinks:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.topNavLinks:hover:after{
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.siteMapLink{
  color: white;
}

.siteMapLink:hover{
  color:palegreen!important;
}

.usefulLink{
  color:white;
}

.usefulLink:hover{
  color:palegreen!important;
}

.activeLink{
  background-color: #CDF4C8!important;
  pointer-events: none;
  color: #212f3c!important;
}


/* media query */
@media (max-width: 620px) {

    body{
      font-size: 16px;
    }

  .menuBtnContainer{
		display: block;
	}

  .topNavyblueDiv{
      text-align: center;
      display: none;
      height: 350px!important;
  }

  .topNavLinks{
    width: 80%;
    display: none;
    padding: 20px 0px 0px 0px!important;
    margin: 0px auto!important;
  }
}
