.contactus{
    /* border:1px solid black; */
    width: 80%;
    margin:auto;
}
#map{
    width:100%;
    height:100%;
    min-height:400px;
    /* background-color: aqua; */
}

.addstl{
    display: flex;
}
@media (max-width:475px) {
    .addstl{
        display: inline-block;
    }
    .line2{
        display: none;
    }
}
.listofconn{
    color:black;
}
.arreg{
    display: flex;
    margin-bottom: 90px;
}
.arg1{
    /* border: 1px solid red;; */
    width: 40%;
}
.arg2{
    /* border: 1px solid black;; */
    width: 60%;
    padding:0px 20px ;
}
.contactWrapper{
    padding: 10px;;
}
@media (max-width:743px) {
    .arreg{
        display: block;
        margin: auto;
    }
    .arg1{
        /* border: 1px solid black;; */
        width: 100%;
        margin: auto;
    }
    .arg2{
        /* border: 1px solid black;; */
        width: 100%;
        padding:0px 50px ;
    }
}