.eventTab{
  margin: 20px 0px;
}

.tabs .active{
  background: #ececec!important;
}

.tabs a{
  color: grey!important;
  font-weight: 500;
}

.arrowOpen{
  float: right;
  width: 15px;
  font-size: 15px;
}

.collapsible-header{
  position: relative;
}

.collapsible-header:hover{
  background: #E2E2E2!important
}

.collapsibleHeaderTitle{
  padding: 0px 70px 0px 0px;
}

.centerThis{
  display: block;
  text-align: center;
}

.boldThis{
  font-weight: bold!important;
}

.arrowDown{
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.arrowUp{
  position: absolute;
  right: 10px;
  display: none;
  width: 20px;
  height: 20px;
}

.notClicked .arrowUp{
  display: none;
}

.notClicked .arrowDown{
  display: block;
}

.clicked .arrowDown{
  display: none;
}

.clicked .arrowUp{
  display: block;
}
