.anim-type{
  animation: typewriter 4s steps(12) 1s 1 normal both,
              blinkCursor 500ms steps(12) infinite normal;
}

.typingSplash{
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
}

.splashFade{
  animation: splashFadeOut 3s 1;
  animation-fill-mode: forwards;
}

.introHeading{
  padding: 20px 0px;
  color: white!important;
  font-size: 8rem;
  white-space: nowrap;
  overflow: hidden;
  font-family: consolas;
}

.spColor{
  padding: 20px 0px;
  color: palegreen!important;
  font-size: 8rem;
  white-space: nowrap;
  overflow: hidden;
  font-family: consolas;
}

.splashMessage{
  width: 26ch;
  margin: 0 auto;
  font-size: 4rem;
  padding: 70px 0px 0px 0px;
  position: relative;
  left: 35px;
}

.anim1{
  width: 7ch;
  margin: 0 auto;
	animation: type1 2s steps(7),
			 blinkCursor1 500ms 5;
	animation-fill-mode: forwards;
}

.anim2{
  width: 0ch;
  margin:0 auto;
  animation: type2 0.5s steps(2),
              blinkCursor2 500ms 2;
  animation-fill-mode: forwards;
  border-right:2px solid #000;
  animation-delay: 2.5s;
}

.anim3{
  width: 0ch;
  margin:0 auto;
  animation: type3 2s steps(8),
              blinkCursor3 500ms 5;
  animation-fill-mode: forwards;
  border-right: 2px solid #000;
  animation-delay: 3.5s;
}

.anim4{
  width: 0ch;
  margin: 0 auto;
  animation: type4 1s steps(4),
              blinkCursor4 500ms 4;
  border-right: 2px solid #000;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

.anim5{
  width: 17ch;
  color:black !important;
  animation: messageAnim 1s infinite alternate;
  animation-delay: 8s;
}


#wrapper{
  display: none;
}



.contactUsLast:hover{
  color: orange!important;
}

/*  Animations  */
@keyframes type1{
  0%{
      width: 0ch;
  }
  100%{
    width: 7ch;
  }
}

@keyframes blinkCursor1{
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid #000;
  }
}

@keyframes type2 {
  0%{
    width: 0ch;
  }
  100%{
    width: 2ch;
  }
}

@keyframes blinkCursor2{
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid #000;
  }
}

@keyframes type3 {
  0%{
    width:0ch;
  }
  100%{
    width: 8ch;
  }
}

@keyframes blinkCursor3 {
  0%{
    border-right: 2px solid palegreen;
  }
  100%{
    border-right:2px solid #000;
  }
}

@keyframes type4 {
  0%{
    width: 0ch;
  }
  100%{
    width: 4ch;
  }
}

@keyframes blinkCursor4 {
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid #000;
  }
}

@keyframes messageAnim {
  0%{
    color:black;
  }
  100%{
    color:palegreen;
  }
}

@keyframes splashFadeOut {
  0%{
    background-color: #000;
  }
  100%{
    background-color: #fff;
  }
}

/*media querries */
@media(max-height: 630px) {
  .introHeading{
    padding: 5% 0%;
    font-size: 6rem;
  }

  .splashMessage{
    font-size: 3rem;
    padding-top: 50px;
  }
}

@media (max-width: ) {

}
