/* Google fonts */
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mainmenulink{
  font-size: 150%!important;
}

.disclaimer{
  color: orange!important;
  font-weight: bold!important;
}

.cutoff{
  text-decoration: line-through;
}

.discountDisclaimer{
  font-size: 120%!important;
  font-weight: 150%!important;
}

.discountedPrice{
  color: orange!important;
}

.lastDateOfDiscount{
  color: orange!important;
  font-weight: bold;
}

.anim-type{
  animation: typewriter 4s steps(12) 1s 1 normal both,
              blinkCursor 500ms steps(12) infinite normal;
}

.typingSplash{
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
}

.splashFade{
  animation: splashFadeOut 3s 1;
  animation-fill-mode: forwards;
}

.introHeading{
  padding: 20px 0px;
  color: white!important;
  font-size: 8rem;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Anonymous Pro', monospace!important;
}

.spColor{
  padding: 20px 0px;
  color: palegreen!important;
  font-size: 8rem;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Anonymous Pro', monospace!important;
}

.splashMessage{
  font-size: 4rem;
  padding: 70px 0px 0px 0px;
  font-family: 'Anonymous Pro', monospace!important;
}

.animload1{
  margin: 0 auto;
  letter-spacing: 2px!important;
	animation: type1 1.4s steps(7),
			 blinkCursor1 500ms 3;
	animation-fill-mode: forwards;
}

.anim1{
  width: 0em!important;
}

.animload2{
  margin: 0 auto;
  letter-spacing: 4px!important;
  animation: type2 0.3s steps(2),
              blinkCursor2 500ms 2;
  animation-fill-mode: forwards;
  border-right:2px solid #000;
  animation-delay: 1.5s;
}

.anim2{
  width: 0em!important;
}

.animload3{
  margin: 0 auto;
  letter-spacing: 4px!important;
  animation: type3 0.8s steps(8),
              blinkCursor3 500ms 3;
  animation-fill-mode: forwards;
  border-right: 2px solid #000;
  animation-delay: 2.5s;
}

.anim3{
  width: 0!important;
}

.animload4{
  margin: 0 auto;
  letter-spacing: 2px!important;
  animation: type4 0.5s steps(4),
              blinkCursor4 500ms 3;
  border-right: 2px solid #000;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.anim4{
  width: 0!important;
}

.animload5{
  animation: messageAnim 1s infinite alternate;
  animation-delay: 5.5s;
}

.anim5{
  text-align: center!important;
  color:black !important;
}


#wrapper{
  display: none;
}


/* The main page's css */
#speakerSection{
  width: 100%;
}

#speakerWrapper{
  width: 100%;
}

.speakerCard{
  margin-top: 30px;
  padding: 3%;
}

.speakerImg1{
  display: block;
  width: 330px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.speakerImg2{
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.speakerName1{
  display: block;
  margin-top: 20px;
  text-align: center;
  color: black;
  transition: 0.4s;
}

.speakerName2{
  display: block;
  margin-top: 20px;
  text-align: center;
  color: black;
  transition: 0.4s;
}

.speakerCardContent{
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.speakerProfileInfo{
  padding: 16px;
}

.centerThis{
  text-align: center;
}

.speakerCardContent:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



#speakerHeader{
  text-align: center;
}

#speakerIntro{
  margin-top: 20px!important;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  font-weight: 400!important;
}

.makeOrange{
  color: orange!important;
}

.contactUsLast:hover{
  color: orange!important;
}

/*  Animations  */
@keyframes type1{
  0%{
      width: 0;
  }
  100%{
    width: 4em;
  }
}

@keyframes blinkCursor1{
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid black;
  }
}

@keyframes type2 {
  0%{
    width: 0;
  }
  100%{
    width: 1.2em;
  }
}

@keyframes blinkCursor2{
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid black;
  }
}

@keyframes type3 {
  0%{
    width:0;
  }
  100%{
    width: 4.1em;
  }
}

@keyframes blinkCursor3 {
  0%{
    border-right: 2px solid palegreen;
  }
  100%{
    border-right:2px solid black;
  }
}

@keyframes type4 {
  0%{
    width: 0;
  }
  100%{
    width: 2.3em;
  }
}

@keyframes blinkCursor4 {
  0%{
    border-right: 2px solid white;
  }
  100%{
    border-right: 2px solid #000;
  }
}

@keyframes messageAnim {
  0%{
    color:black;
  }
  100%{
    color:palegreen;
  }
}

@keyframes splashFadeOut {
  0%{
    background-color: #000;
  }
  100%{
    background-color: #fff;
  }
}

@keyframes speakerColorChange {
  0%{
    color: #000;
  }

  100%{
    color:orange;
  }
}

/*media querries */
@media(max-height: 630px) {
  .introHeading{
    padding: 10px 0px;
    letter-spacing: 0px!important;
    font-size: 8rem;
  }

  .introHeading{
    padding: 10px 0px;
    letter-spacing: 0px!important;
    font-size: 8rem;
  }

  .splashMessage{
    font-size: 5rem;
    letter-spacing: 0px!important;
    padding-top: 35px;
  }
}

@media (max-width: 480px ) {
  .introHeading{
    padding: 10px 0px;
    font-size: 8rem;
    letter-spacing: 0px!important;
  }

  .introHeading{
    padding: 10px 0px;
    font-size: 8rem;
    letter-spacing: 0px!important;
  }

  .splashMessage{
    font-size: 5rem;
    padding-top: 35px;
    letter-spacing: 0px!important;
  }
}
